.App {
  text-align: center;
  margin-top: 50px;
}

textarea {
  width: 70%;
  height: 200px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 20px;
  width: 70%;
  margin: 20px auto;
}
